.form {
  max-width: 400px;
  width: 100%;
  padding: 40px 20px;
  box-shadow: 0px 2px 70px 0px rgba(110, 130, 208, 0.18);
  border-radius: 4px;

  &_title {
    margin-bottom: 20px;
  }

  &_group {
    margin-bottom: 20px;
  }

  &_label {
    display: block;
    margin-bottom: 5px;
  }

  &_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &_button {
    width: 100%;
  }

  &_error {
    color: red;
  }
}
