.mobile-menu {
  width: 100%;
  background-color: #fff;
  height: 100%;
  overflow-y: scroll;
  &_content {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    &_item {
      display: flex;
      font-size: 18px;
      align-items: center;
      padding: 16px 0;
      opacity: 0.8;
      justify-content: center;

      &--selected {
        font-weight: 600;
        opacity: 1;
      }
    }
    &_btn {
      max-width: 100px;
      margin: 20px auto;
    }
  }
}
