.mobile-menu {
  width: 100%;
  background-color: white;
  height: 100%;
  overflow-y: scroll;

  &__content {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;

    &--cart {
      flex-direction: row;
      align-items: center;
    }
    &__cart-count {
      border-radius: 50%;
      background-color: $color-primary;
      color: white;
      padding: 5px 10px;
      margin-left: 10px;
    }
    &__item {
      display: flex;
      font-size: 18px;
      align-items: center;
      padding: 16px 0;
      opacity: 0.8;
      justify-content: center;

      &--selected {
        opacity: 1;
        font-weight: 600;
      }
    }
    & button {
      max-width: 100px;
      margin: 20px auto;
    }
  }
}
